body {
	margin-top: 54px;
	margin-left: 52px;
}

header {
	margin-bottom: 44px;
}

img {
	vertical-align: middle;
}



nav {
	display: inline-block;
	vertical-align: middle;

	.nav a {
  color: white;
  text-decoration: none; 
  margin: 0 15px;
  font-size: 18px;
}


a {
  text-decoration: none;
}


}

li {
	display: inline-block;
	margin-left: 60px;
}

a {
	font-weight: 700;
	font-size: 26px;
	color: #8D81FF;
}

.active {
	color: #4E6FAE;
}

p {
	font-family: "BPG Square", sans-serif;

}


.day {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-weight: 400;
	font-size: 24px;
	padding-top: 8px;
	padding-left: 11px;
	margin-bottom: 18px;
}




h3 {
	font-weight: 400;
	font-size: 24px;
	color: #8D81FF;
	margin-bottom: 8px;
}


h4 {
	font-weight: 700;
	font-size: 20px;
	color: #4E6FAE;
	margin-bottom: 13px;
}

.banner {
	vertical-align: top;
	margin-right: 50px;
}


.desc {
	font-size: 16px;
	font-weight: 400;
	color: #4E6FAE;
	display: inline-block;
	width: 778px;
	vertical-align: top;
}

h2 {
	font-family: "BPG Square", sans-serif;

}

h3 {
	font-family: "BPG Nostalgia", sans-serif;
}



.Footer {
	text-align: center;
	padding: 20px;

}

.socials {
	display: flex;
	align-items: center;
	gap: 20px;
}



.purple-line {
	width: 1px;
	height: 30px;
	background-color: #4E6FAE;
}


.text:   {
	font-size: 16px;
	font-weight: 400;
	color: #4E6FAE;
	display: inline-block ;
	width: 500px;
	flex-direction: row-reverse;
	align-items: flex-start;
    
}
	.text1 {
		font-size: 16px;
		color: #4E6FAE;
	}

.news-header {
  display: flex;
  justify-content: center; 
  align-items: center; 
}


.news-container {
  display: flex;
  align-items: center;
  gap: 20px; 
}


.news-title {
  font-weight: 700;
  font-size: 26px;
  color: #4E6FAE;
  margin: 0;
}


.purple-line {
  width: 24px;
  height: 0;
  border: 2px solid #5012D5;
  transform: rotate(-90deg);
}




.news-text {
  font-weight: 400;
  font-size: 26px;
  color: #4E6FAE;
  margin: 0;
}



.developers-section {
  background-color: #E7E7E7;
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px; 
}


.developer-box {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #4E6FAE;
  border-radius: 10px;
  width: 400px;
  height: 180px;
  padding: 20px;
  gap: 15px;
  box-sizing: border-box;
  transition: 0.3s;
}

.developer-box:hover {
  transform: scale(1.03);
  box-shadow: 0 0 10px rgba(78, 111, 174, 0.3);
}


.developer-logo {
  width: 60px;
  height: 60px;
}


.developer-text {
  text-align: left;
}


.developer-title {
  font-weight: 400;
  font-family: "Times New Roman", serif;
  font-size: 18px;
  color: #3F4145;
  margin: 0 0 5px 0;
}



.developer-description {
  font-weight: 400;
  font-family: "Times New Roman", serif;
  font-size: 15px;
  color: #7E8898;
  margin: 0;
  line-height: 1.4;
}

h1 {
	font-family: "Roboto", sans-serif;

}





.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 40px;
}

.contact-container {
    width: 40%;
}

.contact-title {
    font-weight: 700;
    font-size: 36px;
    color: #4E6FAE; 
    margin-bottom: 20px;
}

.contact-text {
    font-weight: 400;
    font-size: 20px;
    color: #7E8898; 
    margin: 8px 0;
}


.contact-map {
    width: 944px;
    height: 549px;
    border-radius: 10px;
    overflow: hidden;
}

.map-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}



