body {
	margin-top: 54px;
	margin-left: 52px;
}

header {
	margin-bottom: 44px;
}

img {
	vertical-align: middle;
}



nav {
	display: inline-block;
	vertical-align: middle;

	.nav a {
  color: white;
  text-decoration: none; 
  margin: 0 15px;
  font-size: 18px;
}


a {
  text-decoration: none;
}


}

li {
	display: inline-block;
	margin-left: 60px;
}

a {
	font-weight: 700;
	font-size: 26px;
	color: #8D81FF;
}

.active {
	color: #4E6FAE;
}

p {
	font-family: "BPG Square", sans-serif;

}